#chapter {
    margin: 5px;
    padding: 2px
}


.verse-title {   
    font-weight: bold;
}

span.verse {   
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 0;
    margin-top: -20px;
    margin-right: 10px;
    padding:0;
}

textarea.verse {      
    margin: 0;
    padding: 0;
}


.link-note{
    font-size: xx-small
}

.copyright {
    font-size: small;
    position: absolute;left: 50%;transform: translate(-50%);
}

span.modal-title {
    margin-left: 10px;
}

ons-action-sheet {
    font-size: xx-small
}